%container {
    max-width: $ul;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
}
%btn-accent-all {
    font-size: 1.125rem;
    letter-spacing: 0.1em;

    display: block;

    
    height: 60px;
    padding: 18px $gap;

    transition: 0.5s;
    text-align: center;

    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);

    &:hover {
        background-color: $color-accent;
    }
}
